![imagenes](logo.png)

In [2]:
import pandas as pd
import numpy as np
from siuba import *
from siuba.dply.vector import *
import os

In [3]:
## Nos dirigimos a nuestra carpeta de trabajo
os.chdir("C:\\Users\\hp master\\OneDrive\\Escritorio\\delitos")

In [4]:
## Observamos qu√© tenemos en esa carpeta
os.listdir()

['delitos_2012.csv',
 'delitos_2013.csv',
 'delitos_2014.csv',
 'delitos_2015.csv',
 'delitos_2016.csv',
 'delitos_2017.csv',
 'delitos_2018.csv',
 'delitos_2019.csv',
 'delitos_2020.csv',
 'delitos_2021.csv',
 'descriptor_delitos.csv',
 'descriptor_entidades.csv']

In [5]:
## Leemos las tablas de delitos
delitos = [pd.read_csv(x) for x in os.listdir() if x.startswith("delitos")]

In [6]:
## Mostramos la primer tabla
delitos[0]

,entidad,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1,4325,63117,65608,26673,32467,2397,12422,19107,52892,33144,13238,155.0,7533,374.0,NaN
1,2,53101,125100,146944,156090,135178,1941,37776,46993,214567,82699,33323,1128.0,5990,NaN,341.0
2,3,6109,24582,19784,27540,8094,3023,8046,21432,23850,23136,5669,331.0,1568,156.0,132.0
3,4,642,16428,20120,20517,23402,6763,6619,15702,25519,41469,12456,NaN,4714,1210.0,910.0
4,5,13662,70668,73930,53498,67094,3596,20410,22978,35124,35549,16586,1772.0,8311,NaN,NaN
5,6,5047,15337,12729,15046,8411,2544,7721,6493,47003,9833,3723,192.0,174,355.0,502.0
6,7,1717,29559,48524,74234,93405,18171,7800,32578,69132,44713,24271,98.0,4582,450.0,NaN
7,8,46786,142051,66602,87663,120161,14607,68784,49308,216619,86056,37165,5602.0,13446,4694.0,4153.0
8,9,59305,305377,403522,104286,1183773,15590,275095,126797,714753,248338,110061,16215.0,109376,9206.0,528.0
9,10,7761,35586,34404,25044,42167,2312,8468,14999,111644,42871,12206,1150.0,4760,1424.0,122.0
10,11,21865,255391,169995,95760,271745,37845,57974,51792,213736,158497,60066,1318.0,51765,4488.0,4988.0
11,12,10067,29362,33145,54777,167000,10331,9491,24171,327079,59041,22823,1337.0,2951,1318.0,2640.0
12,13,10001,42060,54723,31648,60362,3709,39964,41455,102625,42978,19253,882.0,5226,1230.0,1458.0
13,14,41437,454216,572404,138599,439331,50395,134518,132872,521063,417953,107434,5828.0,108881,2952.0,4908.0
14,15,154894,564539,655760,247169,3236823,32365,159278,121911,977577,364282,242618,10077.0,78081,18562.0,2450.0
15,16,20760,72806,132770,58693,122037,9610,28234,28754,261219,84045,18026,2084.0,932,828.0,1008.0
16,17,7653,36445,55757,34347,125068,3923,20950,18957,149131,33776,11002,414.0,2859,1153.0,932.0
17,18,4520,18930,25215,17403,16074,7714,9084,9216,80394,27130,6997,1103.0,1273,NaN,572.0
18,19,34548,207907,99793,106729,313010,9276,48030,66220,343712,102349,25569,6831.0,21366,1899.0,3665.0
19,20,5282,29288,61979,41463,123550,22398,10664,21859,118250,55930,14120,NaN,13295,694.0,404.0
20,21,15438,156731,225313,74077,308573,25004,48429,62849,202118,92366,43723,1424.0,25019,730.0,665.0
21,22,7673,53320,116030,21008,44954,7169,22533,28682,79268,35326,28076,NaN,14514,131.0,1736.0
22,23,5022,49495,52972,62374,88270,2565,23915,35246,67722,47413,12949,NaN,8633,791.0,2312.0
23,24,6669,70853,119072,43994,113630,16218,13919,36806,163484,75859,29191,3900.0,23762,4636.0,10397.0
24,25,19294,79127,52180,71755,152913,14508,51208,33374,138071,80733,13727,3251.0,2986,723.0,2689.0
25,26,11593,151055,164763,101151,62327,11429,57207,43061,40469,119023,33276,NaN,16052,1934.0,3333.0
26,27,3448,25066,8427,46053,118812,12950,9255,22916,63806,46692,15403,1963.0,771,1128.0,1632.0
27,28,19694,53628,40145,62938,150313,3791,31038,31057,137036,62069,19498,8631.0,10194,1329.0,2225.0
28,29,3329,14625,24544,14707,21387,803,5959,7000,34532,31762,8676,NaN,3827,NaN,1203.0
29,30,11901,80809,100202,113507,216495,18067,50847,78984,353971,199930,59664,8583.0,13164,26688.0,504.0
30,31,1019,26259,69859,53457,36320,18858,13255,31102,59288,53641,19530,446.0,7288,478.0,5149.0
31,32,7644,39686,29192,17085,28175,6974,13002,12171,43995,15330,7442,4371.0,4423,312.0,1248.0

In [7]:
## Leemos la tabla descriptor_delitos y la mostramos
descriptor_delitos = pd.read_csv("descriptor_delitos.csv",encoding="latin-1")
descriptor_delitos

    cod_del                    Delito
0         1    Robo total de veh√≠culo
1         2  Robo parcial de veh√≠culo
2         3                Vandalismo
3         4              Robo en casa
4         5          Robo en la calle
5         6         Otro tipo de robo
6         7           Fraude bancario
7         8      Fraude al consumidor
8         9                 Extorsi√≥n
9        10         Amenazas verbales
10       11          Lesiones f√≠sicas
11       12                 Secuestro
12       13             Hostigamiento
13       14                 Violaci√≥n
14       15                     Otros

In [8]:
## Leemos la tabla descriptor_entidades y la mostramos
descriptor_entidades = pd.read_csv("descriptor_entidades.csv",encoding="latin-1")

In [9]:
(delitos[0] >> 
    mutate(a√±o = 0+2012) >>
    gather("cod_del",
           "total",
           _[1:16]) >>
    left_join(_,descriptor_entidades, on = "entidad") >>
    mutate(cod_del = _.cod_del.astype("int"), total = _.total.astype("Int64")) >>
    left_join(_,descriptor_delitos, on = "cod_del") >>
    select(_.a√±o, _.entidad, _.Entidad, _.Delito, _.total)
    )

      a√±o  entidad              Entidad                  Delito  total
0    2012        1       Aguascalientes  Robo total de veh√≠culo   4325
1    2012        2      Baja California  Robo total de veh√≠culo  53101
2    2012        3  Baja California Sur  Robo total de veh√≠culo   6109
3    2012        4             Campeche  Robo total de veh√≠culo    642
4    2012        5              Coahula  Robo total de veh√≠culo  13662
..    ...      ...                  ...                     ...    ...
475  2012       28           Tamaulipas                   Otros   2225
476  2012       29             Tlaxcala                   Otros   1203
477  2012       30             Veracruz                   Otros    504
478  2012       31              Yucat√°n                   Otros   5149
479  2012       32            Zacatecas                   Otros   1248

[480 rows x 5 columns]

In [13]:
def ordenado(x):
    auxiliar = (delitos[x] >> 
    mutate(a√±o = x+2012) >>
    gather("cod_del",
           "total",
           _[1:16]) >>
    left_join(_,descriptor_entidades, on = "entidad") >>
    mutate(cod_del = _.cod_del.astype("int"), total = _.total.astype("Int64")) >>
    left_join(_,descriptor_delitos, on = "cod_del") >>
    select(_.a√±o, _.entidad, _.Entidad, _.Delito, _.total)
    )
    return auxiliar

In [19]:
pd.concat([ordenado(x) for x in range(0,10)]) >> top_n(10,wt=_.total) >> arrange(-_.total)

      a√±o  entidad           Entidad            Delito    total
142  2013       15  Estado de M√©xico  Robo en la calle  4917122
142  2014       15  Estado de M√©xico  Robo en la calle  4379121
142  2018       15  Estado de M√©xico  Robo en la calle  3524963
142  2017       15  Estado de M√©xico  Robo en la calle  3411601
142  2015       15  Estado de M√©xico  Robo en la calle  3277422
142  2012       15  Estado de M√©xico  Robo en la calle  3236823
142  2016       15  Estado de M√©xico  Robo en la calle  3142406
142  2019       15  Estado de M√©xico  Robo en la calle  3093425
270  2013       15  Estado de M√©xico         Extorsi√≥n  2436631
142  2021       15  Estado de M√©xico  Robo en la calle  2323408